{% extends "home.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
         
        </div>

        <div>
            {% if list_list %}
            
                {% for list in list_list%}
                    {{list.title}} 
                {% endfor %}
            {% else %}
                <p>no list </p>
            {% endif %}
        </div>

       <!--<ul>
            {% for item in object_list %}
            <li>
                <div>
                    <div
                        role="button"
                        onclick="location.href='#'">
                        {{ item.title }}
                        (Due {{ item.date_created }})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new item"
                type="button"
                onclick="location.href='#'" />
        </p> -->
    </div> 
</div>  
{% endblock %}